/* About page styles */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: center;
  background-color: #f9f9f9; /* Background color */
}

.aboutTitle {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #333; /* Title color */
}

.aboutContent {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.8;
  color: #555; /* Adjust text color */
}

.aboutContent p {
  margin-bottom: 20px;
}

/* Update the appearance of paragraphs */
.aboutContent p:first-child {
  font-weight: bold;
}

/* Media query for phones */
@media screen and (max-width: 600px) {
  .about {
    padding: 30px;
  }

  .aboutTitle {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }

  .aboutContent {
    max-width: 90%;
    font-size: 1rem;
  }

  .aboutContent p {
    margin-bottom: 15px;
  }
}
