/* General page settings to match the navbar's aesthetic */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5; /* Light background to contrast the dark navbar */
  color: #333; /* Dark text for readability */
}

/* Style adjustments for the form to align with the navbar's design */
form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #121619; /* Title color to match the navbar */
  margin-bottom: 20px;
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input,
form textarea,
form button {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form input:focus,
form textarea:focus {
  border-color: #121619; /* Focus color to add a subtle visual cue */
}

form button {
  background-color: #121619; /* Button color to stand out */
  color: white;
  cursor: pointer;
  border: 1px solid #121619;
}

form button:hover {
  background-color: white;
  color: #121619; /* Darker shade on hover for interaction feedback */
}

/* Adjustments for smaller screens */
@media (max-width: 600px) {
  form {
    margin: 20px;
    padding: 15px;
  }

  form input,
  form textarea,
  form button {
    width: calc(
      100% - 10px
    ); /* Adjust width on smaller screens for better layout */
  }
}
