.container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  margin-top: 5%;
  margin-bottom: 15%;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
  text-align: center;
}

form {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.favprod-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #121619;
  color: #fff;
  border: 2px solid #121619;
  border-radius: 5px;
  cursor: pointer;
}

.logged-out-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 20%;
}

.logged-out-content {
  margin-top: 20px;
}

.log-in-btn {
  padding: 10px 20px;
  background-color: #121619;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10%;
}

@media (max-width: 768px) {
  .container {
    margin-top: 20%;
    margin-bottom: 35%;
  }
}
