.footer {
  width: 100%;
  height: 200px;
  background-color: #121619;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.socialMedia svg {
  color: white;
  margin: 10px; /* Adjusted margin for smaller screens */
  font-size: 40px; /* Adjusted font size for smaller screens */
  cursor: pointer;
}

.footer p {
  color: white;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
  .footer {
    height: auto; /* Adjust height for smaller screens */
  }

  .socialMedia svg {
    font-size: 30px; /* Further adjusted font size for even smaller screens */
    margin: 5px; /* Further adjusted margin for even smaller screens */
  }
}
