.ls-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1%;
  width: 35%;
  background: #fff;
  padding-bottom: 5%;
  margin-bottom: 1%;
}

.ls-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 10%;
}

.ls-text {
  color: #121619;
  font-size: 250%;
  font-weight: 700;
}

.ls-underline {
  width: 15%;
  height: 6px;
  background: #121619;
  border-radius: 9px;
}

.ls-inputs {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ls-input-login {
  display: flex;
  align-items: center;
  margin: auto;
  width: 85%;
  height: 60px;
  background: #eaeaea;
  border-radius: 6px;
}

.ls-input-login img {
  margin: 0% 5%;
}

.ls-input-login input {
  height: 50px;
  width: 100%;
  background: transparent;
  border: none; /* Remove border */
  outline: none;
  color: #797979;
  font-size: 100%;
}
.ls-input-login input[type="text"],
.ls-input-login input[type="number"] {
  border: none;
}

.ls-forgot-password {
  padding-left: 10%;
  margin-top: 5%;
  color: #797979;
  font-size: 100%;
}

.ls-forgot-password span {
  color: #121619;
  cursor: pointer;
}

.ls-input-login span {
  cursor: pointer;
  padding-right: 10px;
}

.ls-submit-container {
  display: flex;
  gap: 10%;
  margin: 5% auto;
}

.ls-error {
  color: #ff5252; /* Error message color */
  font-size: 90%; /* Adjust font size as needed */
  margin-top: 5px; /* Add spacing from the input field */
  width: 85%; /* Limit the width to match the input container */
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.ls-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 59px;
  color: #fff;
  background: #121619;
  border-radius: 50px;
  font-size: 130%;
  font-weight: 700;
  cursor: pointer;
}

.gray {
  background: #eaeaea;
  color: #676767;
}

@media screen and (max-width: 600px) {
  .ls-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30%;
    width: 70%;
    background: #fff;
    padding-bottom: 1%;
  }

  .ls-submit-container {
    display: flex;
    gap: 10%;
    margin: 20% 20%;
  }

  .ls-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150%;
    height: 40px;
    color: #fff;
    background: #121619;
    border-radius: 50px;
    font-size: 100%;
    font-weight: 700;
    cursor: pointer;
  }
  .gray {
    background: #eaeaea;
    color: #676767;
  }
}

.ls-toggle-action {
  display: flex;
  justify-content: center;
  font-size: 100%;
  color: #797979;
  margin-bottom: 10%;
}

.ls-toggle-action p {
  margin: 0;
}

.ls-toggle-action span {
  color: #121619;
  font-weight: 700;
  cursor: pointer;
  margin-left: 5px;
}
