.product {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
}

.product-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
}

.product-content {
  display: flex;
}

.product-image {
  flex: 1;
}

.loggedout-container {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20%;
  padding-top: 20%;
}

.product-image img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.product-details {
  flex: 1;
  padding-left: 20px;
}

.product-price {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-threshold {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-button {
  background-color: #121619;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.loading,
.not-found {
  margin: 20px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

.threshold-input {
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chart-container {
  background-color: #121619;
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .threshold-input {
    width: 50%;
  }
  .product {
    margin-top: 15%;
    margin-bottom: 30%;
  }
  .chart-container {
    max-width: 100%;
  }
}
