.products {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.products .productsTitle {
  padding-top: 50px;
  font-size: 60px;
}

.productList {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  place-items: center;
  padding: 0 20px; /* Add padding to avoid edges on small screens */
}

.productItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in;
}

.productItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
}

.productItem > div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productItem > div img {
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.productItem h1,
.productItem p {
  text-align: center;
  margin: 10px;
}
.searchBar {
  margin-top: 20px;
  width: 90%;
  max-width: 400px;
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  padding: 0 20px; /* Add padding to avoid edges on small screens */
}

.searchBar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 16px;
}

.searchBar input::placeholder {
  color: #000000;
}

@media only screen and (max-width: 1300px) {
  .productList {
    grid-template-columns: 1fr 1fr;
  }
  .searchBar {
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  .productList {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .searchBar {
    width: 90%;
  }
}

.loginPrompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 20%;
}

.loginPrompt p {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333; /* Schimbă culoarea textului după preferințe */
}

.loginPrompt button {
  padding: 10px 20px;
  font-size: 18px;
  color: white; /* Culoarea textului în buton */
  background-color: #121619; /* Culoarea de fundal a butonului, poți ajusta după preferințe */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addProdButton {
  background-color: #121619; /* Green */
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2.5%;
}

.editButton {
  background-color: #121619; /* Green */
  color: white;
  padding: 5px 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2.5%;
}
